@font-face {
  font-family: "Circe";
  src: local("Circe"), local("Circe-Regular"), url("../font/Circe-Regular.eot?#iefix") format("embedded-opentype"), url("..//font/Circe-Regular.woff2") format("woff2"), url("../font/Circe-Regular.woff") format("woff");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Circe";
  src: local("Circe Bold"), local("Circe-Bold"), url("../font/Circe-Bold.eot?#iefix") format("embedded-opentype"), url("../font/Circe-Bold.woff2") format("woff2"), url("../font/Circe-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}

@supports (-webkit-appearance:none) {

}